<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>疫情实时监控网站</title>
   <!-- <link rel="stylesheet" th:href="@{/bootstrap.css}">-->
    <link  rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link  rel="stylesheet" href="../static/css/dashboard.css" th:href="@{/css/dashboard.css}">
    <script type="text/javascript" src="../static/echarts/echarts.min.js" th:src="@{echarts/echarts.min.js}"></script>
    <script type="text/javascript" src="../static/echarts/china.js" th:src="@{echarts/china.js}"></script>
<style>

    #iframeContent{
        width: 84%;
        height: 700px;
        margin-left: 16%;
    }

</style>
</head>

<body class="homePage">
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3">疫情实时监控
            <span data-feather="globe"></span>
        </a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
            </li>
        </ul>
    </header>
    <div class="container-fluid">
    <div class="row">

        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3 ">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="http://localhost:8080/map" target="showmain">
                            <span data-feather="map-pin"></span>
                            国内疫情情况
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8080/graph" target="showmain">
                            <span data-feather="bar-chart-2"></span>
                            现有确诊趋势
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8080/graphAdd" target="showmain">
                            <span data-feather="bar-chart"></span>
                            疫情新增趋势
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8080/graphPie" target="showmain">
                            <span data-feather="list"></span>
                            国内现有确诊构成
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8080/graphColumnar" target="showmain">
                            <span data-feather="alert-triangle"></span>
                            境外输入省市TOP10
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8080/cityData" target="showmain">
                            <span data-feather="map-pin"></span>
                            各省市疫情情况
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8080/countryDetail" target="showmain">
                            <span data-feather="map-pin"></span>
                            全球疫情情况
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8080/worldDataDetail" target="showmain">
                            <span data-feather="layers"></span>
                            全球疫情统计表
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8080/news" target="showmain">
                            <span data-feather="layers"></span>
                            相关资讯
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8080/rumors" target="showmain">
                            <span data-feather="layers"></span>
                            辟谣专区
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8080/travel" target="showmain">
                            <span data-feather="layers"></span>
                            出行政策
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8080/vaccines" target="showmain">
                            <span data-feather="layers"></span>
                            疫苗接种地址
                        </a>
                    </li>
                </ul>
            </div>
        </nav>




        <iframe name = "showmain" id="iframeContent" src = "http://localhost:8080/map" scrolling="auto" target="_parent"></iframe>










    </div>
</div>

<script type="text/javascript" src="../static/js/bootstrap.bundle.min.js" th:src="@{js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" src="../static/js/feather.min.js" th:src="@{js/feather.min.js}"></script>
<script type="text/javascript" src="../static/js/Chart.min.js" th:src="@{js/Chart.min.js}"></script>
<script type="text/javascript" src="../static/js/dashboard.js" th:src="@{js/dashboard.js}"></script>
</body>
</html>
