<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>News</title>
    <link  rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link  rel="stylesheet" href="../static/css/dashboard.css" th:href="@{/css/dashboard.css}">
</head>
<body>
<div class="box">
    <div class="box2">
        <div class="size">
            <div class="form">
                <div class="form-header">新闻</div>
                <div class="form-body">
                    <div>
                        <div class="list-group">
                            <a class="list-group-item list-group-item-action" href="#">
                                <span class="text">11111111</span>
                            </a>
                            <a class="list-group-item list-group-item-action" href="#">
                                <span class="text">11111111</span>
                            </a>
                            <a class="list-group-item list-group-item-action" href="#">
                                <span class="text">11111111</span>
                            </a>
                            <a class="list-group-item list-group-item-action" href="#">
                                <span class="text">11111111</span>
                            </a>
                            <a class="list-group-item list-group-item-action" href="#">
                                <span class="text">11111111</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>
</html>