<!--<!DOCTYPE html>-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>News</title>
    <link  rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link  rel="stylesheet" href="../static/css/dashboard.css" th:href="@{/css/dashboard.css}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body class="news">
<div class="box">
    <div class="box2">
        <div class="size">
            <div class="form">
                <div class="form-header text2">中高风险地区</div>
                <div class="form-body">
                    <div>
                        <div class="list-group" id="list-group1">
                            <a class="list-group-item list-group-item-action" href="#">
                                <span class="text" id="1"></span>
                            </a>
                            <a class="list-group-item list-group-item-action" href="#">
                                <span class="text" id="2"></span>
                            </a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script type="text/javascript" th:inline="javascript">

    var a=[[${RiskAreaList}]]
    var str=``;
    for(var i=0;i<a.length;i++)
    {
        if(a[i].type=='高风险地区'){
        str+=`<a class="list-group-item list-group-item-action" href="#">
                                <span class="text" id="1">
                                <p style="color: red"><span class="text1" >时间：</span>${a[i].date}</p>
                                <p style="color: red"><span class="text1" >类型：</span>${a[i].type}</p>
                                <p style="color: red"><span class="text1" >区域：</span>${a[i].areaName}</p>
                                <p style="color: red"><span class="text1" >街道：</span>${a[i].communitys}</p>
                                </span>
                            </a>`}
        else {
            str+=`<a class="list-group-item list-group-item-action" href="#">
                                <span class="text" id="1">
                                <p style="color: orange"><span class="text1" >时间：</span>${a[i].date}</p>
                                <p style="color: orange"><span class="text1" >类型：</span>${a[i].type}</p>
                                <p style="color: orange"><span class="text1" >区域：</span>${a[i].areaName}</p>
                                <p style="color: orange"><span class="text1" >街道：</span>${a[i].communitys}</p>
                                </span>
                            </a>`
        }

    }

    document.getElementById('list-group1').innerHTML = str
    console.log(a)
</script>
</html>