<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rumors</title>
    <link  rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link  rel="stylesheet" href="../static/css/dashboard.css" th:href="@{/css/dashboard.css}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body class="rumors">

<div class="box">
    <div class="box2">
        <div class="size">
            <div class="form">
                <div class="form-header text2">辟谣专区</div>
                <div class="form-body">
                    <div>
                        <div class="list-group" id="list-group1">
                            <a class="list-group-item list-group-item-action" href="#">
                                <span class="text" id="1">#{str}</span>
                            </a>
<!--                            <a class="list-group-item list-group-item-action" href="#">-->
<!--                                <span class="text" id="2"></span>-->
<!--                            </a>-->
<!--                            <a class="list-group-item list-group-item-action" href="#">-->
<!--                                <span class="text" id="3">11111111</span>-->
<!--                            </a>-->
<!--                            <a class="list-group-item list-group-item-action" href="#">-->
<!--                                <span class="text" id="4">11111111</span>-->
<!--                            </a>-->
<!--                            <a class="list-group-item list-group-item-action" href="#">-->
<!--                                <span class="text" id="5">11111111</span>-->
<!--                            </a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" th:inline="javascript">

    var a=[[${rumorBeansList}]]
    var str=``;
    for(var i=0;i<a.length;i++)
    {
        if(a[i].explain=="谣言") {
            str+=`<a class="list-group-item list-group-item-action" href="${a[i].url}" target="_blank">
            <div class="text" id="${i}" style="display: inline-block;width=100% ">
            <p style="display: inline-block"> <span class="text1">发布日期：</span>${a[i].date}</p><br>
            <p style="display: inline-block"> <span class="text1">发布标题：</span>${a[i].title}</p><br>
            <div  style="display: inline-block;width:650px"> <span class="text1">发布内容：</span> </br> &emsp;&emsp;${a[i].desc}</div>
            <div class="img1"><img class="img2" src="img/error.png"></div>
            <br><br><p style="display: inline-block"> <span class="text1">是否谣言：</span>${a[i].explain}</p><br>
            </div>
            </a>`
        }
        else if (a[i].explain=="确实如此") {
            str+=`<a class="list-group-item list-group-item-action" href="${a[i].url}" target="_blank" xmlns="http://www.w3.org/1999/html">
            <div class="text" id="${i}" style="display: inline-block;width=100% ">
            <p style="display: inline-block"> <span class="text1">发布日期：</span>${a[i].date}</p><br>
            <p style="display: inline-block"> <span class="text1">发布标题：</span>${a[i].title}</p><br>
            <div  style="display: inline-block;width:650px"> <span class="text1">发布内容：</span></br> &emsp;&emsp; ${a[i].desc}</div>
            <div class="img1"><img class="img2" src="img/correct.png"></div>
            <br><br><p style="display: inline-block"> <span class="text1">是否谣言：</span>${a[i].explain}</p><br>
            </div>
            </a>`
        }
        else{
            str+=`<a class="list-group-item list-group-item-action" href="${a[i].url}" target="_blank">
            <div class="text" id="${i}" style="display: inline-block;width=100% ">
            <p style="display: inline-block"><span class="text1">发布日期：</span>${a[i].date}</p><br>
            <p style="display: inline-block"> <span class="text1">发布标题：</span>${a[i].title}</p><br>
            <div  style="display: inline-block;width:650px"><span class="text1">发布内容：</span></br> &emsp;&emsp;${a[i].desc}</div>
            <div class="img1"><img class="img2" src="img/unknown.png"></div>
            <br><br><p style="display: inline-block"> <span class="text1">是否谣言：</span>${a[i].explain}</p><br>
            </div>
            </a>`
        }
    }
    console.log(str)
    document.getElementById('list-group1').innerHTML = str

</script>
</html>