<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>出行政策</title>
    <link  rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link  rel="stylesheet" href="../static/css/dashboard.css" th:href="@{/css/dashboard.css}">
    <script type="text/javascript" src="../static/js/feather.min.js" th:src="@{js/feather.min.js}"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body class="travelPolicy">
<div class="box1">
    <div class="box2">
        <div class="size">
            <div class="form1">
                <div class="container1">
                    <select class="selectBox" name="" id="select3">
                        <option selected="selected" disabled="disabled"  style='display: none' value=''>请选择城市</option>
                        <option class="choose" value=0>香港</option>
                        <option class="choose" value=1>云南</option>
                        <option class="choose" value=2>上海</option>
                        <option class="choose" value=3>广东</option>
                        <option class="choose" value=4>台湾</option>
                        <option class="choose" value=5>福建</option>
                        <option class="choose" value=6>四川</option>
                        <option class="choose" value=7>陕西</option>
                        <option class="choose" value=8>北京</option>
                        <option class="choose" value=9>山西</option>
                        <option class="choose" value=10>江苏</option>
                        <option class="choose" value=11>山东</option>
                        <option class="choose" value=12>浙江</option>
                        <option class="choose" value=13>天津</option>
                        <option class="choose" value=14>河南</option>
                        <option class="choose" value=15>湖南</option>
                        <option class="choose" value=16>广西</option>
                        <option class="choose" value=17>湖北</option>
                        <option class="choose" value=18>内蒙古</option>
                        <option class="choose" value=19>辽宁</option>
                        <option class="choose" value=20>广西</option>
                        <option class="choose" value=21>湖北</option>
                        <option class="choose" value=22>内蒙古</option>
                        <option class="choose" value=23>辽宁</option>
                        <option class="choose" value=24>甘肃</option>
                        <option class="choose" value=25>澳门</option>
                        <option class="choose" value=26>西藏</option>
                        <option class="choose" value=27>贵州</option>
                        <option class="choose" value=28>青海</option>
                        <option class="choose" value=29>新疆</option>
                        <option class="choose" value=30>江西</option>
                        <option class="choose" value=31>海南</option>
                        <option class="choose" value=32>黑龙江</option>
                        <option class="choose" value=33>宁夏</option>
                        <option class="choose" value=34>安徽</option>
                        <option class="choose" value=35>重庆</option>
                        <option class="choose" value=36>吉林</option>
                    </select>
                        <div class="icon"><img src="img/trans.png" height="50" width="50"></div>
                    <select class="selectBox" name="" id="select4" style="left: 50px">
                        <option selected="selected" disabled="disabled"  style='display: none' value=''>请选择城市</option>
                        <option class="choose" value=0>香港</option>
                        <option class="choose" value=1>云南</option>
                        <option class="choose" value=2>上海</option>
                        <option class="choose" value=3>广东</option>
                        <option class="choose" value=4>台湾</option>
                        <option class="choose" value=5>福建</option>
                        <option class="choose" value=6>四川</option>
                        <option class="choose" value=7>陕西</option>
                        <option class="choose" value=8>北京</option>
                        <option class="choose" value=9>山西</option>
                        <option class="choose" value=10>江苏</option>
                        <option class="choose" value=11>山东</option>
                        <option class="choose" value=12>浙江</option>
                        <option class="choose" value=13>天津</option>
                        <option class="choose" value=14>河南</option>
                        <option class="choose" value=15>湖南</option>
                        <option class="choose" value=16>广西</option>
                        <option class="choose" value=17>湖北</option>
                        <option class="choose" value=18>内蒙古</option>
                        <option class="choose" value=19>辽宁</option>
                        <option class="choose" value=20>广西</option>
                        <option class="choose" value=21>湖北</option>
                        <option class="choose" value=22>内蒙古</option>
                        <option class="choose" value=23>辽宁</option>
                        <option class="choose" value=24>甘肃</option>
                        <option class="choose" value=25>澳门</option>
                        <option class="choose" value=26>西藏</option>
                        <option class="choose" value=27>贵州</option>
                        <option class="choose" value=28>青海</option>
                        <option class="choose" value=29>新疆</option>
                        <option class="choose" value=30>江西</option>
                        <option class="choose" value=31>海南</option>
                        <option class="choose" value=32>黑龙江</option>
                        <option class="choose" value=33>宁夏</option>
                        <option class="choose" value=34>安徽</option>
                        <option class="choose" value=35>重庆</option>
                        <option class="choose" value=36>吉林</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>



</body>
</html>