<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>出行政策</title>
    <link  rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link  rel="stylesheet" href="../static/css/dashboard.css" th:href="@{/css/dashboard.css}">
    <script type="text/javascript" src="../static/js/feather.min.js" th:src="@{js/feather.min.js}"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body class="travelPolicy">
<div class="box1">
    <div class="box2">
        <div class="size">
            <div class="form1">
                <div class="container1">
                    <select class="selectBox" name="" id="fromprovince" onchange="fromcityid()"></select>

                    <select class="selectBox" name="" id="fromcity"></select>

                        <div class="icon"><img src="img/trans.png" height="50" width="50"></div>

                    <select class="selectBox" name="" id="toprovince" style="left: 50px" onchange="tocityid()"></select>

                    <select class="selectBox" name="" id="tocity" style="left: 50px"></select>
                    <button onclick="detail()">提交</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="fromCityDetail"></div>
<div id="toCityDetail"></div>


<!--选择省份-->
<script type="text/javascript" th:inline="javascript">
    var provinceList=[[${provinceList}]]
    var getprovincename=[];
    for (var i = 0; i < provinceList.length; i++) {
        getprovincename.push(provinceList[i]["province"]);

    }
    var hash=[];
    for (var i = 0; i < getprovincename.length; i++) {
        if(getprovincename.indexOf(getprovincename[i])==i){
            hash.push(getprovincename[i]);
        }
    }
    var str=`<option></option>`
    for(var i=0;i<hash.length;i++)
    {
        str+=`<option value="${i+1}">${hash[i]}</option>`
    }
    document.getElementById("fromprovince").innerHTML=str
    document.getElementById("toprovince").innerHTML=str
</script>
<!--选择城市-->
<script type="text/javascript" th:inline="javascript">
    //城市ajax
    var fromcityid = function () {
        var id = $("#fromprovince").val()
        $.post({
            url: "/TravelCity",
            data: {"id":id},
            success: function (data) {
                var str=`<option></option>`
                for(var i=0;i<data.length;i++)
                {
                    str+=`<option value="${data[i]}">${data[i]}</option>`
                }
                document.getElementById("fromcity").innerHTML=str
            },
            error: function () {
            },
        })}
    var tocityid = function () {
        var id = $("#toprovince").val()
        $.post({
            url: "/TravelCity",
            data: {"id":id},
            success: function (data) {
                var str=`<option></option>`
                for(var i=0;i<data.length;i++)
                {
                    str+=`<option value="${data[i]}">${data[i]}</option>`
                }
                document.getElementById("tocity").innerHTML=str
            },
            error: function () {
            },
        })}
</script>

<!--提交并获得-->
<script type="text/javascript" th:inline="javascript">
    //接种地址ajax
    var detail=
        function()
        {
            var from_name=$("#fromcity").val()
             var to_name=$("#tocity").val()
            $.post({
                url: "/travelDetail",
                data: {"from_name":from_name,"to_name":to_name},
                //数据名称在TravelBean中
                success: function (data) {
                    console.log(data)
                    var from_str=
                        `
                        <span>来自省份：${data[0].fromProvinceName}</span>
                       <span>来自城市：${data[0].fromCityName}</span>
                        <span>检验方式：${data[0].fromHealthCodeName}</span>
                        <span>扫码教程：${data[0].fromHealthCodeGid}</span>
                        <span>对来自中高风险人群的建议：${data[0].fromHighInDesc}</span>
                        <span>对来自低风险人群的建议：${data[0].fromLowInDesc}</span>
                        <span>对出省的人群的建议：${data[0].fromOutDesc}</span>
                        `
                    document.getElementById("fromCityDetail").innerHTML=from_str

                    var to_str=
                        `
                        <span>去往省份：${data[0].toProvinceName}</span>
                       <span>去往城市：${data[0].toCityName}</span>
                        <span>检验方式：${data[0].toHealthCodeName}</span>
                        <span>扫码教程：${data[0].toHealthCodeGid}</span>
                        <span>对来自中高风险人群的建议：${data[0].toHighInDesc}</span>
                        <span>对来自低风险人群的建议：${data[0].toLowInDesc}</span>
                        <span>对出省的人群的建议：${data[0].toOutDesc}</span>
                        `

                    document.getElementById("toCityDetail").innerHTML=to_str
                },
                error: function () {
                    document.getElementById("fromCityDetail").innerHTML="查询次数已达上限"
                    document.getElementById("toCityDetail").innerHTML="查询次数已达上限"
                },
            })
        }
</script>






</body>
</html>