<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>出行政策</title>
    <link  rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link  rel="stylesheet" href="../static/css/dashboard.css" th:href="@{/css/dashboard.css}">
    <script type="text/javascript" src="../static/js/feather.min.js" th:src="@{js/feather.min.js}"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body class="travelPolicy">
<div class="box">
    <div class="box2">
        <div class="size">
            <div class="form1">
                <div class="container1">
                    <div class="form-header text2">出行政策查询</div>
                    <div class="form-body">
                        <div>
                            <select class="selectBox" name="" id="fromprovince" onchange="fromcityid()"></select>
                            <select class="selectBox" name="" id="fromcity"></select>
                            <div class="icon"><img src="img/trans.png" height="50" width="50"></div>
                            <select class="selectBox" name="" id="toprovince" style="left: 50px" onchange="tocityid()"></select>
                            <select class="selectBox" name="" id="tocity" style="left: 50px"></select>
                            <div class="div3"><button class="btn7" onclick="detail()">查&emsp;&emsp;询</button></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="fromCityDetail"></div>
<div id="toCityDetail"></div>


<!--选择省份-->
<script type="text/javascript" th:inline="javascript">
    var provinceList=[[${provinceList}]]
    var getprovincename=[];
    for (var i = 0; i < provinceList.length; i++) {
        getprovincename.push(provinceList[i]["province"]);

    }
    var hash=[];
    for (var i = 0; i < getprovincename.length; i++) {
        if(getprovincename.indexOf(getprovincename[i])==i){
            hash.push(getprovincename[i]);
        }
    }
    var str=`<option></option>`
    for(var i=0;i<hash.length;i++)
    {
        str+=`<option value="${i+1}">${hash[i]}</option>`
    }
    document.getElementById("fromprovince").innerHTML=str
    document.getElementById("toprovince").innerHTML=str
</script>
<!--选择城市-->
<script type="text/javascript" th:inline="javascript">
    //城市ajax
    var fromcityid = function () {
        var id = $("#fromprovince").val()
        $.post({
            url: "/TravelCity",
            data: {"id":id},
            success: function (data) {
                var str=`<option></option>`
                for(var i=0;i<data.length;i++)
                {
                    str+=`<option value="${data[i]}">${data[i]}</option>`
                }
                document.getElementById("fromcity").innerHTML=str
            },
            error: function () {
            },
        })}
    var tocityid = function () {
        var id = $("#toprovince").val()
        $.post({
            url: "/TravelCity",
            data: {"id":id},
            success: function (data) {
                var str=`<option></option>`
                for(var i=0;i<data.length;i++)
                {
                    str+=`<option value="${data[i]}">${data[i]}</option>`
                }
                document.getElementById("tocity").innerHTML=str
            },
            error: function () {
            },
        })}
</script>

<!--提交并获得-->
<script type="text/javascript" th:inline="javascript">
    //接种地址ajax
    var detail=
        function()
        {
            var from_name=$("#fromcity").val()
             var to_name=$("#tocity").val()
            $.post({
                url: "/travelDetail",
                data: {"from_name":from_name,"to_name":to_name},
                //数据名称在TravelBean中
                success: function (data) {
                    var from_str= `

                        <div class="list-group-item list-group-item-action list3" style="margin-left: 10px;">
                        <div class="text2 text3">出发地政策</div>
                        <div><span class="text1">出发省份：</span>${data[0].fromProvinceName}</div></br>
                        <div><span class="text1">出发城市：</span>${data[0].fromCityName}</div></br>
                        <div><span class="text1">检验方式：</span>${data[0].fromHealthCodeName}</div></br>
                        <div><span class="text1">扫码教程：</span><a href="${data[0].fromHealthCodeGid}">${data[0].fromHealthCodeGid}</a></div></br>
                        <div><span class="text1">对来自中高风险人群的建议：</span></br> &emsp;&emsp;${data[0].fromHighInDesc}</div></br>
                        <div><span class="text1">对来自低风险人群的建议：</span></br> &emsp;&emsp;${data[0].fromLowInDesc}</div></br>
                        <div><span class="text1">对出省的人群的建议：</span></br> &emsp;&emsp;${data[0].fromOutDesc}</div>
                        </div>`
                    document.getElementById("fromCityDetail").innerHTML=from_str

                    var to_str=
                        `
                        <div class="list-group-item list-group-item-action list3" style="margin-left: 10px;">
                        <div class="text2 text3">抵达地政策</div>
                        <div><span class="text1">抵达省份：</span>${data[0].toProvinceName}</div></br>
                        <div><span class="text1">抵达城市：</span>${data[0].toCityName}</div></br>
                        <div><span class="text1">检验方式：</span>${data[0].toHealthCodeName}</div></br>
                        <div><span class="text1">扫码教程：</span><a href="${data[0].toHealthCodeGid}">${data[0].toHealthCodeGid}</a></div></br>
                        <div><span class="text1">对来自中高风险人群的建议：</span></br>&emsp;&emsp;${data[0].toHighInDesc}</div></br>
                        <div><span class="text1">对来自低风险人群的建议：</span></br>&emsp;&emsp;${data[0].toLowInDesc}</div></br>
                        <div><span class="text1">对出省的人群的建议：</span></br>&emsp;&emsp;${data[0].toOutDesc}</div>
                        </div>
                        </br></br></br>
                        `

                    document.getElementById("toCityDetail").innerHTML=to_str
                },
                error: function () {
                    document.getElementById("fromCityDetail").innerHTML="查询次数已达上限"
                    document.getElementById("toCityDetail").innerHTML="查询次数已达上限"
                },
            })
        }
</script>






</body>
</html>