<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title >疫情最新动态</title>
    <link  rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link  rel="stylesheet" href="../static/css/dashboard.css" th:href="@{/css/dashboard.css}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="echarts/echarts.min.js"></script>

</head>

<body style="background-color:#a6e1ec;" class="worldList">


    <select  id="select1" name="select3" onchange="a()">
        <option value=8>全球</option>
        <option th:each="data:${worldBeansList1}" th:text="${data.continentName}" th:value="${dataStat.index}" ></option>
    </select>

<script type="text/javascript" th:inline="javascript">
    var a=function(){
        var id=$("#select1").val()
        $.post({
            url: "/worldDetail",
            data: {"id":id},
            success: function(data)
            {
                var str=``
                console.log(data)
                for(var i=0;i<data.length;i++)
                {
                    if(id!=8){
                    str+=`
 <tr>
        <td >${data[i].provinceProvinceName}</td>
        <td >${data[i].provinceConfirmedCount}</td>
        <td >${data[i].provinceCuredCount}</td>
        <td >${data[i].provinceDeadCount}</td>
        </tr>
`}
                    else{
                        str+=`
 <tr>
        <td >${data[i].continentName}</td>
        <td >${data[i].confirmedCount}</td>
        <td >${data[i].curedCount}</td>
        <td >${data[i].deadCount}</td>
        </tr>
`}
                }
                document.getElementById("tbody_list").innerHTML=str
            },
            error: function () {},
        })
    }
</script>
<table class="table table-hover">
    <thead>
    <tr>
        <th><p>国家/大洲</p></th>
        <th><p>现有确诊</p></th>
        <th><p>治愈</p></th>
        <th><p>死亡</p></th>
    </tr>
    </thead>
    <tbody id="tbody_list">
    <tr id="6" th:each="data:${worldBeansList1}">
        <td id="7" th:text="${data.continentName}">name</td>
        <td id="8" th:text="${data.confirmedCount}">nowConfirm</td>
        <td id="9" th:text="${data.curedCount}">heal</td>
        <td id="10" th:text="${data.deadCount}">dead</td>
    </tr>
    </tbody>
</table>
</div>

</body>
</html>

